@media(max-width: 1140px) {
    .header__content {
        padding: 50px 25px;
    }

    .header__content-center {
        align-items: center;
        justify-content: center;
    }

    .chefs {
        flex-wrap: wrap;
        justify-content: center;    
    }
}

@media(max-width: 992px) {
    
}